{% extends "base.html" %}

{% block title %}Services{% endblock title %}
{% block body %}

<div class="container-fluid px-0">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://media.istockphoto.com/id/1042430586/photo/gold-leaf-ice-cream-with-gold-leaf-cone-and-gold-icing-with-gold-sprinkles.jpg?s=612x612&w=0&k=20&c=iM63peM-lPy4UZfO6DL36-wvSWuVjo0kRPtFNwkebQ0=" class="d-block w-100" alt="Ice Creams1" width="1000" height="600">
            </div>
            <div class="carousel-item">
                <img src="https://media.istockphoto.com/id/944261278/photo/pink-ice-cream-with-multi-colored-sprinkles.jpg?s=612x612&w=0&k=20&c=IXPS_XuK3OsDknuxB56QKt7L7rHZqAV1h9KTQByJ8uw="class="d-block w-100" alt="Ice Creams2" width="1000"height="600">
            </div>
            <div class="carousel-item">
                <img src="https://img.magnific.com/free-photo/ice-cream-dessert-with-strawberry-chocolate-sauce-generative-ai_188544-12128.jpg?semt=ais_hybrid&w=740&q=80"class="d-block w-100" alt="Ice Creams3" width="1000" height="600">
            </div>
        </div>
    </div>
    <h3>
        -Every Scoop Tells a Story
    </h3>
    <h3>
        -Happiness Comes in Every Flavor
    </h3>
    <h3>
        -Chill Out with Shamshu!
    </h3>
    <h3>
        -Where Every Bite is a Celebration
    </h3>
</div>

{% endblock body %}